.title {
  margin: 0 16px 16px;
  padding-bottom: 20px;
  color: #333;
  text-align: center;
}

.text {
  margin: 0 16px 16px;
  padding-bottom: 20px;
  color: #777;
}

.btn {
  display: block;
  margin: 20px auto;
  padding: 8px 0;
  width: 150px;
  background-color: #4979ff;
  border-radius: 4px;
  font-family: inherit;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
